 
.form-settings { 
    max-width: 350px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    color: #00143d; 
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}
.nick-name { 
    margin-top: 5px;

}
.settings-screen { 
    position: relative;
    top: 70px;
}
.settings-header-message { 
    position: absolute;
    left: 167px;
    width: 100%;
    font-family: 'Nanum Gothic', sans-serif;
    color: #000d29;
    border-bottom: 2px #ecd3dc;
    border-bottom-style: dashed;
    border-bottom-width: 9px;
}
.name-change-input { 
    margin-bottom: 31px;
    margin-left: 12px;
}

#add-nickname-ID { 
    background-color: #ff8bb1;
    color: lavenderblush;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 18px;
    margin-left: 0px;
    margin-top: 12px;
    position: relative;
    margin-bottom: 15px;
    width: 172px;
}
#nick-name-button{ 
    background-color: #ff8bb1;
    color: lavenderblush;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 18px;
    margin-top: 8px;
    margin-top: 8px;
    width: 172px;
}
.nick-name-button{ 
    background-color: #ff8bb1;
    color: lavenderblush;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 18px;
    margin-top: 8px;
    width: 30px;
}

#remove-network-button{ 
    background-color: #ff8bb1;
    color: lavenderblush;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 18px;
    margin-top: 8px;
    width: 30px;
}

.add-network { 
    background-color: #ff8bb1;
    color: lavenderblush;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 18px;
    margin-top: 8px;
    margin-top: 8px;
    width: 172px;
}
.submit-button-network { 
    background-color: #ff8bb1;
    color: lavenderblush;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 18px;
    margin-top: 8px;
    width: 172px;
}
.submit-button-network:hover {
    background-color: #104659;
}

select { 
    background-color: #e4b6b6;
    border-radius: 3px;
    margin-right: 7px;
}
.delete-button {
        background-color: #104659;
        color: lavenderblush;
        font-family: 'Shadows Into Light Two', cursive;
        font-size: 18px;
        margin-top: 8px;
        width: 172px;
}
.error-alert {
    color: #ffaea5;
    font-family: 'Nanum Gothic', sans-serif;
}