
  .login-form { 
    max-width: 187px;
    position: absolute;
    background: linear-gradient(lavenderblush,#ffc3ef);
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    border-radius: 35px;
    font-family: Helvetica;
    top: 254px;
  
  }
  .Moment-login-page{
    position: absolute;
    top: 2px;
  }

.login-button { 
  background: linear-gradient(#a9e9ff, #2bc7ff);
  color: lavenderblush;
  /* margin-left: 11px; */
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 18px;
  height: 35px;
  width: 172px;
}
/* add gap between pw & login */
.login-button-group {
  margin: 30px,
}
/* link to create account vs button */
.create-link { 
  /* background-color: #868b78; */
  color: #1c799a;
  /* margin-left: 11px; */
  font-family: 'Shadows Into Light Two', cursive;
  /* Shadows is a more legitable font */
  /* font-family: 'Give You Glory', cursive; */
  font-size: 18px;
  /* height: 35px;
  width: 172px;
  position: relative;
  margin-left: 9px; */
}
/* body { 
  background: linear-gradient(bottom right, #d3a9e5, #FFDCF6, #dee4eb, #b0a2dc);
  display: table-cell;
  vertical-align: middle;
}
html, body {
  height: 100%;
  max-width: 500px;
  margin: auto;

} */
body {
  height: 100%;
  width: 100%;
  display: inline-block;
  zoom: 1;
  display*: inline;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(bottom right, #d3a9e5, #FFDCF6, #dee4eb, #b0a2dc);
}

.All-Content {
  max-width: 500px;
  margin: auto;
}

/* body { 
  background: linear-gradient(bottom right, #dad9e478, #FFDCF6, #dee4eb);
  display: table-cell;
  vertical-align: middle;

}
html, body {
  max-width: 500px;
  margin: auto;
} */

/* .create-button{ 
margin-top: 20px;
margin-right: 8px;
border-radius: 30px; 
} */


.solid-moment { 
  color: #ffaea5;
  text-align: center;
  font-family: 'Shadows Into Light Two', cursive;
  position: absolute;
  top: 10px;
  font-size: 75px;
  left: 300px;
  top: 51px;
  font-size: 51px;
  left: 143px;
}
.moment-faded { 
  color: #f27465;
  text-align: center;
  font-family: 'Shadows Into Light Two', cursive;
  position: absolute;
  top: -75px;
  font-size: 100px;
  opacity: 0.1;
}
.email-input { 
    padding-bottom: 10px;
}

a:link {
    text-decoration: none;
    color:#141320; 
}

.header-class-login { 
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
}
/* error alert */
.error-alert {
  color: #ffaea5;
  font-family: 'Nanum Gothic', sans-serif;
}
/* .honey-login {
    bottom: 25px;
} */
.honey-head {
  left: 300px;
}
.login-prompt {
  font-family: 'Nanum Gothic', sans-serif;
}