.top-left {
    fill:#FDFCF0;
}

.top-left:hover {
    fill: yellow;
}

.scoopload:hover {
    fill: yellow;
}

.scoopload {
    max-width: 600px;
    margin-left: 550px;
    position: relative;
    margin-top: 100px;
}
.scoop-div {
    position: relative;
}