/* .btn btn-link text-secondary{ 
    padding-right: 20px; 

} */

.text-secondary { 
    padding: 0 20px 0 20px;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: larger;
}

    .text-secondary{ 
        padding: 0 20px 0 20px;
        font-family: helvetica;
        font-size: larger;
    }

.network-tag-container{ 

    position: relative;
    margin-left: -459px;
    margin-top: 17px;
}

.h1-profile{ 
    position: relative;
    margin-top: 78px;
    margin-left: -486px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #9D8189;
    font-size: 36px;
    font-weight: 100;
}

.also-known-as{ 
    margin-left: -480px;
    font-family: helvetica;
    font-size: larger;
    font-family: 'Nanum Gothic', sans-serif;
    color: #9D8189;
    font-size: 36px;
    font-weight: 100;

}
.welcome-home-h1{ 
    position: relative;
    margin-top: 78px;
    margin-left: -486px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #9D8189;

}

a:link {
    text-decoration: none;
    color:#141320; 
}

/* error alert */
.error-alert {
    color: #f6ffdc;
    font-family: 'Nanum Gothic', sans-serif;
}