/* .btn btn-link text-secondary{ 
    padding-right: 20px; 

} */

.text-secondary { 
    padding: 0 20px 0 20px;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: larger;
}

    .text-secondary{ 
        padding: 0 20px 0 20px;
        font-family: helvetica;
        font-size: larger;
    }

.network-tag-container{ 
    position: relative;
    margin-top: 17px;
}

.h1-profile{ 
    position: relative;
    margin-top: 78px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #104659;
    font-size: 36px;
    font-weight: 100;
}

.also-known-as{ 
    font-size: larger;
    font-family: 'Nanum Gothic', sans-serif;
    color: #104659;
    font-size: 36px;
    font-weight: 100;

}
.welcome-home-h1{ 
    position: relative;
    margin-top: 78px;
    color: #104659;
    font-family: 'Nanum Gothic', sans-serif;

}

a:link {
    text-decoration: none;
    color:#141320; 
}

/* error alert */
.error-alert {
    color: #ffaea5;
    font-family: 'Nanum Gothic', sans-serif;
}
.follow-button {
        background-color: #ff8bb1;
        color: lavenderblush;
        font-family: 'Shadows Into Light Two', cursive;
        font-size: 18px;
        margin-top: 8px;
        width: 172px;
}
.profile-container {
    max-width: 500px;
    margin: auto;
    height: 100%;
}