.navbar-section{ 
    background-color: lavenderblush;
    padding: 39px;
    border-radius: 30px;
    position: absolute;
    /* margin-top: -539px;
    margin-left: -735px; */

}

.btn btn-link text-secondary{ 
    padding-right: 20px; 

}

.text-secondary{ 
    padding: 0 20px 0 20px;
}

